/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Green): #357b70
Secondary Color (Purple): #ae95be;
*/
:root {
  --primary-color: #357b70;
  --secondary-color: #ae95be;
  --dark-grey: #2b2b2b;
  --visited-link: #05676e;
  --selected-link: #489c79;
  --white: white;
  --dark-black: rgba(0, 0, 0, 0.7);
  --light-grey: lightgray;
  --darker-yellow: #edc655;
  --lighter-yellow: #fcffad;
  --orange: #f76414;
  --body-font-weight: 400;
  --body-font-size: 16px;
  --body-line-hieght: 1.6;
  --h1-font-size: 30px;
  --heading-font-weight: 700;
  --h2-font-size: 24px;
  --h3-font-size: 18px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  line-height: var(--body-line-hieght);
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--heading-font-weight);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--heading-font-weight);
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--heading-font-weight);
}

a {
  color: var(--primary-color);
}

a:visited {
  /* visited link */
  color: var(--visited-link);
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: var(--selected-link);
}

button,
.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the background color, font color, and text decoration (underline, ect.) of the button */
  background-color: var(--primary-color);
  color: var(--white);
  text-decoration: none;

  /* adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid var(--dark-black);
  transition: opacity 0.2s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.button_secondary {
  background-color: var(--secondary-color);
  color: var(--dark-grey);
}

.navigation-list_item--active {
  text-decoration: none;
}

.profile_portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}

.profile_heading {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid var(--primary-color);
  margin: 0 auto;
}

.page-header_item {
  flex: 0 1 200px;
  width: 200px;
  height: 90px;
}

.page-header_item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/* start grid fallback */
.grid_item {
  display: inline-block;
  width: 33%;
}

/* end grid fallback */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid_item {
  background-color: var(--light-grey);
  padding: 20px;
  width: auto;
}

.work {
  text-align: center;
}

.main-about {
  text-align: center;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 501px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid_item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }

  h1 {
    font-size: 22px;
  }
}

@keyframes color-change {
  0% {
    fill: var(--darker-yellow);
  }

  50% {
    fill: var(--lighter-yellow);
  }

  100% {
    fill: var(--orange);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
